html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }

/*
Style A Google Maps on your website with the style of your website.

Here a quick example I did for a local physiotherapist (http://kine.sarabernaert.be/contact/).
Parameters I personalised:
- pointer (own image)
- zoom control (position)
- mapcontrol (street, sattelite, ..): disabled
- map colors

Sources to tweak your own map:
- https://developers.google.com/maps/documentation/javascript/
> all parameters you can put your hand on
- https://snazzymaps.com
>  nice website to give easily the color style a personal touch 
-  http://stackoverflow.com/questions/8879544/google-maps-zoom-control
> when the (zoom) controls are displayed distorted, read this thread
*/